@import 'sparc-design-system-components-2/src/assets/_variables.scss';

h1 {
  font-size:2rem;
  font-weight:500;
  margin: 0;
  line-height:2.75rem;
  padding: 0;
}

h2 {
  font-size:1.5rem;
  font-weight:500;
  line-height:2.25rem;
  margin: 0 0 .5rem;
  padding: 0;
}

h3 {
  font-size:1rem;
  font-weight:500;
  line-height:1.875rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h4 {
  font-size: 1.375em;
  font-weight: normal;
  line-height: 2.25rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h5 {
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1.875rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.75rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: $purple;
  text-decoration: underline;
}

p {
  margin: 0 0 .5rem;
}

hr {
  margin: 0 0 1rem;
}
