h1 {
  font-size: 2.875em;
  font-weight: normal;
  margin: 0;
  line-height: 3.75rem;
  padding: 0;
}

h2 {
  font-size: 2.25em;
  font-weight: normal;
  line-height: 3rem;
  margin: 0 0 1rem;
  padding: 0;
}

h3 {
  font-size: 1.75em;
  font-weight: normal;
  line-height: 2.75rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h4 {
  font-size: 1.375em;
  font-weight: normal;
  line-height: 2.25rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h5 {
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1.875rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.75rem;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: #8300bf;
  text-decoration: underline;
}

p {
  margin: 0 0 1rem;
}

hr {
  margin: 0 0 1rem;
}
